<div class="row">
            <div class="col-lg-12">
                <div class="ibox-content p-xl">
                    <div class="row">
                        <div class="col-sm-6">
                            <h5>Unidad:</h5>
                            <address class="ng-binding">
                                        <strong class="ng-binding">International - 2005</strong><br>
                                        No. Económico: PMX09004<br>
                                        No. Inventario: 12000007505<br>
                                        No. TAR: 669<br>
                                        TAR:  T.A.R. Cuautla, Mor.<br>
                                        GAR:  Centro
                                    </address>
                        </div>

                        <div class="col-sm-6 text-right">
                            <h4>Cotización No.</h4>
                            <h4 class="text-navy ng-binding">900411-3</h4>
                            <span>Cliente:</span>
                            <address class="ng-binding">
                                        <strong class="ng-binding">PEMEX</strong><br>
                                        Av. Universidad No. 2583<br>
                                        <abbr title="Phone">Tel:</abbr>5556283910<br>
                                    </address>
                            <p>
                                <span class="ng-binding"><strong>Fecha: </strong>03-05-2016 08:06</span>
                                <br>
                            </p>
                        </div>
                    </div>

                    <br>
                    <div class="table-responsive m-t">
                        <table class="table invoice-table">
                            <thead>
                                <tr>
                                    <th>Artículos</th>
                                    <th>Cantidad</th>
                                    <th>Precio</th>
                                    <th>Precio Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- ngRepeat: articulo in articulos --><tr ng-repeat="articulo in articulos" class="ng-scope">
                                    <td>
                                        <div><strong class="ng-binding">Número de Partida: 3,1</strong></div>
                                        <small class="ng-binding">ESPEJO CONCAVO COFRE</small></td>
                                    <td class="ng-binding">1</td>
                                    <td class="ng-binding">$757.48</td>
                                    <td class="ng-binding">$757.48</td>
                                </tr><!-- end ngRepeat: articulo in articulos --><tr ng-repeat="articulo in articulos" class="ng-scope">
                                    <td>
                                        <div><strong class="ng-binding">Número de Partida: 3,2</strong></div>
                                        <small class="ng-binding">SERVICIO CON MANO DE OBRA ESPECIALIZADA PARA LA CORRECTA Y EFICIENTE EJECUCIÓN DEL REMPLAZO DE: ESPEJO CONCAVO COFRE No. PARTE: MEK 564450350, DEBERA INCLUIR PIEZA (S) DE REMPLAZO CONSUMIBLES Y PRUEBA DE FUNCIONAMIENTO </small></td>
                                    <td class="ng-binding">1</td>
                                    <td class="ng-binding">$1,120.60</td>
                                    <td class="ng-binding">$1,120.60</td>
                                </tr><!-- end ngRepeat: articulo in articulos -->
                            </tbody>
                        </table>
                    </div>
                    <table class="table invoice-total">
                        <tbody>
                            <tr><td><strong>TOTAL :</strong></td>
                            <td class="ng-binding">$1,878.08</td>
                        </tr></tbody>
                    </table>
                </div>
            </div>
        </div>