<div ng-init="init()">
    <div class="headTitle">
        <span class="title"> Cotización<span class="subtitle">Taller</span> </span>
    </div>
    <div id="contenedor" class="contenedor">              
        <div>
            <div>
                <label>Trabajo:</label>
                <span>{{trabajo}}</span>
            </div> 
            <div>
                <label>Número Economico:</label>
                <span>{{numEconomico}}</span>
            </div>
            <div>
                <label>Marca-Modelo:</label>
                <span>{{modeloMarca}}</span>
            </div>      
        </div>
        <div class="formGroup">
            <input  class="rounded inputWidth" type="text" ng-model="pieza">
            <button id="btnBuscar" busy="Buscando.." type="button" class="btn btn-primary " ng-click="buscarPieza(pieza)" data-toggle="tooltip" tooltip="Buscar: Servicio/Paquete/Refacción" id="btnCotizar" tooltip-placement="right">
                <span class="glyphicon glyphicon-search"></span>
            </button>
        </div>       	
        <div class="row tablaBusqueda tablaAlign" cg-busy="{promise:promise,message:message}">
          <table class="table table-striped"> 
            <thead> 	 
                <tr> 
                    <th>No.Partida</th>
                    <th>No.Parte</th>                        
                    <th>Descripción</th>
                    <th>Precio</th>                   
                </tr> 
            </thead> 
            <tbody> 
                <tr ng-repeat="piezas in listaPiezas">
                    <td>{{ piezas.numeroPartida }}</td> 
                    <td>{{ piezas.numeroParte }}</td> 
                    <td>{{ piezas.item }}</td>
                    <td>{{ piezas.precio | currency}}</td>
                    <td>
                      <button class="btn btn-success" type="button" id="btnCotizar" ng-click="cotizacion(piezas)" data-toggle="tooltip" tooltip-placement="top" tooltip="Agregar">
                          <span class="glyphicon glyphicon-plus"></span>
                      </button>                      
                  </td>
              </tr>                
          </tbody> 
      </table> 
  </div>
</br>
</br>
</br>
<div class="row tablaBusqueda tablaAlign">
  <table class="table table-striped"> 
    <thead> 
        <tr> 
            <th>No.Partida</th>
            <th>No.Parte</th>                        
            <th>Descripción</th>
            <th>Cantidad</th>  
            <th>Precio Unitario</th>
            <th>Importe</th> 
        </tr> 
    </thead> 
    <tbody> 
        <tr ng-repeat="piezas in arrayItem">
            <td>{{piezas.numeroPartida }}</td> 
            <td>{{piezas.numeroParte}}</td> 
            <td>{{piezas.item}}</td>
            <td>{{piezas.cantidad}}</td>
            <td>{{piezas.precio | currency}}</td>
            <td>{{piezas.importe | currency}}</td>                    
            <td>
              <button class="btn btn-danger" type="button" id="btnCotizar" ng-click="quitarPieza(piezas)" data-toggle="tooltip" tooltip-placement="top" tooltip="Quitar">
                  <span class="glyphicon glyphicon-remove"></span>
              </button>
          </td>
      </tr>                
  </tbody> 
</table> 
</div>
<div id="total">
    <h3 class="col-md-2 control-label text-precio">Total:</h3> 
    <h3 id="totalInput"ng-model="total" class="col-md-2 control-label text-precio">{{total}}</h3>    
</div>
</div>
</div>
</br>
</br>
</br>
</br>
<div class="row">
    <div class="col-md-4">
        <iframe src="/AngularJS/Templates/uploader.html" frameborder="0" id="uploader"></iframe>
    </div>
    <div class="col-md-5">
       <textarea id="observaciones" ng-model="observaciones" placeholder="Observaciones"></textarea>
   </div>
   <div class="col-md-3">
    <button ng-hide="estado==2" id="buttonEnviar" type="button" class="btn btn-info" ng-click="enviarAutorizacion(observaciones)" data-toggle="tooltip" tooltip-placement="top" tooltip="Enviar Autorización">
        <span class="glyphicon glyphicon-saved"></span> Guardar Cotización
    </button>
</div>
<div class="col-md-3">
    <button ng-hide="estado==1" id="buttonEnviar" type="button" 
    data-toggle="tooltip" tooltip-placement="top" tooltip="Actualizar Cotización" class="btn btn-info" ng-click="updateCotizacion(observaciones)"> Actualizar Cotización
    <span class="glyphicon glyphicon-floppy-saved"></span>
</button>
</div>  
</div>
<script type="text/javascript">
    function buttonReset() {
        var scope = angular.element($("#contenedor")).scope();
        scope.$apply(function(){
            scope.FinishSave();
        })
    }
</script>
