
<link href="../../css/inspinia/sweetalert/sweetalert.css" rel="stylesheet">
<div ng-init="init()" class="animated bounceInRight">
    <div class="headTitleTallerCita">
        <span class="title"> Órdenes de servicio <span class="subtitle">Call Center / Taller</span></span>
    </div>
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <tabset>	      	
                            <tab heading="Trabajos pendientes" index="0">
                                <br/>
                                <br/>
                                <div class="table-responsive">                         
                                    <table class="table table-striped table-bordered table-hover dataTableTrabajo" cg-busy="{promise:promise,message:message}">
                                        <thead>
                                            <tr>
                                                <th>Número económico</th>
                                                <th>Marca</th>
                                                <th>Modelo</th>
                                                <th>Trabajo</th>
                                                <th>Estatus</th>
                                                <th>Fecha de inicio</th>
                                                <th>Fecha final</th>
                                                <th>Factura</th>
                                                <th>Trabajo</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="trabajo in trabajos">
                                                <td>{{trabajo.numEconomico}}</td>
                                                <td>{{trabajo.marca}}</td>
                                                <td>{{trabajo.modeloMarca}}</td>
                                                <td>{{trabajo.trabajo}}</td>
                                                <td>{{trabajo.estatus}}</td>
                                                <td>{{trabajo.fechaInicio | date:"dd-MM-yy HH:mm"}}</td>
                                                <td>{{trabajo.fechaFin | date:"dd-MM-yy HH:mm"}}</td>
                                                <td>
                                                    <button class="btn btn-info" type="button" ng-click="verTrabajo(trabajo)"><span class="glyphicon glyphicon-sunglasses"></span> Ver</button>
                                                </td>
                                                <td>
                                                      <button class="btn btn-success" type="button" ng-click="openFinishingTrabajoModal(trabajo.idTrabajo)" ><span class="glyphicon glyphicon-ok-sign"></span> Finalizar
                                                      </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </tab>
                            <tab heading="Trabajos finalizados" active="tabs.tab2">      	
                                <br/>
                                <br/>
                                <div class="table-responsive">                         
                                    <table class="table table-striped table-bordered table-hover dataTableTrabajoTerminado" cg-busy="{promise:promise,message:message}">
                                        <thead>
                                            <tr>
                                                <th>Número económico</th>
                                                <th>Marca</th>
                                                <th>Modelo</th>
                                                <th>Trabajo</th>
                                                <th>Observaciones</th>
                                                <th>Estatus</th>
                                                <th>Fecha de inicio</th>
                                                <th>Fecha final</th>
                                                <th>Factura</th>
                                                <th>Trabajo</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="trabajo in trabajosTerminados">
                                                <td>{{trabajo.numEconomico}}</td>
                                                <td>{{trabajo.marca}}</td>
                                                <td>{{trabajo.modeloMarca}}</td>
                                                <td>{{trabajo.trabajo}}</td>
                                                <td>{{trabajo.observacion}}</td>
                                                <td>{{trabajo.estatus}}</td>
                                                <td>{{trabajo.fechaInicio | date:"dd-MM-yy HH:mm"}}</td>
                                                <td>{{trabajo.fechaFin | date:"dd-MM-yy HH:mm"}}</td>
                                                <td>
                                                    <button class="btn btn-info" type="button" ng-click="aprobacion(trabajo)"><span class="glyphicon glyphicon-upload"></span> Cargar factura</button>
                                                </td>
                                                <td>
                                                      <button class="btn btn-success" type="button" ng-click="openFinishingTrabajoModal(trabajo.idTrabajo)" ><span class="glyphicon glyphicon-check"></span> Aprobar
                                                      </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </tab>	    	      		
                        </tabset>  
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal inmodal" id="finalizarTrabajoModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated flipInY">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Finalizar trabajo</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <textarea placeholder="Observaciones" class="form-control" rows="4" ng-model="observacionTrabajo"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Salir</button>
                <button type="button" class="btn btn-danger btnTerminarTrabajo">Finalizar trabajo</button>
            </div>
        </div>
    </div>
</div>