<div ng-init="init()" class="contenedor"> 
    <div class="headTitle">
        <span class="title"> Ordenes de servicio en proceso<span class="subtitle">Call Center / Taller</span> </span>
    </div>
	<div class="formGroup">
			<input  class="rounded inputWidth" type="text" placeholder="Buscar trabajo" ng-model="datoTrabajo">
	    	<!-- <button id="btnBuscar" busy="Buscando.." type="button" class="btn btn-primary" ng-click="lookUpUnidad(datoUnidad)" ng-disabled="habilitaBtnBuscar"><span class="glyphicon glyphicon-search"></span></button> -->
	    </div>
	<table class="table table-condensed table-striped">
		<thead>
			<th>Número económico</th>
			<th>Marca</th>
			<th>Modelo</th>
			<th>Trabajo</th>
			<th>Estatus</th>
			<th>Fecha de inicio</th>
			<th>Fecha final</th>
		</thead>
		<tbody>
			<tr dir-paginate="trabajo in trabajos | filter:datoTrabajo | itemsPerPage:10">
				<td>{{trabajo.numEconomico}}</td>
				<td>{{trabajo.marca}}</td>
				<td>{{trabajo.modeloMarca}}</td>
				<td>{{trabajo.trabajo}}</td>
				<td>{{trabajo.estatus}}</td>
				<td>{{trabajo.fechaInicio | date:"dd-MM-yy HH:mm"}}</td>
				<td>{{trabajo.fechaFin | date:"dd-MM-yy HH:mm"}}</td>
				<td>
                    <button class="btn btn-info" type="button" id="btnCotizar" ng-click="aprobacion(trabajo)">Ver</button>
                </td>
                <td>
                      <button class="btn btn-success" type="button" id="btnCotizar">Finalizar
                      </button>
                </td>
			</tr>
		</tbody>
	</table>
	<div id="pagination">
		<dir-pagination-controls
	       	max-size="5"
	        direction-links="true"
	        boundary-links="true" >
	    </dir-pagination-controls>
	</div>	
</div>