<link href="../../css/inspinia/dropzone/basic.css" rel="stylesheet">
<link href="../../css/inspinia/dropzone/dropzone.css" rel="stylesheet">
<link href="../../css/inspinia/sweetalert/sweetalert.css" rel="stylesheet">
<script src="../../js/libs/jQuery/jquery-2.1.4.js"></script>
<form 
  id        =  "uploadForm"
  enctype   =  "multipart/form-data"
  action    =  "/api/cotizacion/evidencia"
  method    =  "post"
  class     =  "dropzone dz-clickable">
  <div>
      <input type="text" id="idTrabajo" name="idTrabajo" hidden="true" />
      <input type="text" id="idCotizacion" name="idCotizacion" hidden="true" />
      <input type="text" id="idTipoEvidencia" name="idTipoEvidencia" hidden="true" />
      <input type="text" id="idUsuario" name="idUsuario" hidden="true" />
  </div>  
  <button type="submit" id="submit2" name="submit2" hidden="true">Cargar</button>
</form>
<script src="../../js/inspinia/dropzone/dropzone.js"></script>
<script src="../../js/inspinia/sweetalert/sweetalert.min.js"></script>
<script>
	Dropzone.autoDiscover = false;
		$(document).ready(function(){
		    var DZ = $(uploadForm).dropzone({
		    	url: '/api/cotizacion/evidencia',
		        autoProcessQueue: false,
		        uploadMultiple: true,
		        addRemoveLinks: true,
		        parallelUploads: 20,
		        acceptedFiles: "image/*,application/pdf,.docx,.DOCX,.xls,.XLSX,.doc,.DOC,.ppt,.PPT,.mp4",
		        createImageThumbnails: true,
		        init: function(){
		        	var myDropzone = this;
					this.element.querySelector("button[type=submit]").addEventListener("click", function(e) {
						// Make sure that the form isn't actually being sent.
						e.preventDefault();
						e.stopPropagation();
						myDropzone.processQueue();
					});
		            this.on("error", function(file)
		            	{
		            		if (!file.accepted)
		            		alert();						    
		            		this.removeFile(file);
		            	});
		        }
		    });
		});

		var alert = function (){
			swal({
		        title: "Extensión de documento no válido",
		        type: "error",
		        confirmButtonColor: "#DD6B55",
		        confirmButtonText: "Cerrar"
		   });
		}
</script>

